[2020-09-25 17:24] bislara opened #1 "AudioDownloader"
## Project description
 To write a python Script which uses google API to search videos for the keyword and download the audio of the respective video using pafy library

 ## Relevant Technology
Python, Ideas about APIs

 ### Complexity
 * [x]  Beginner - This project requires no or little prior knowledge of the technologies specified to contribute to the project
 * [ ]  Intermediate - The user sh

[2020-09-25 17:46] bislara opened #2 "URL-Shortner"
## Description
Script to shorten an URL using TIny URL API or any other relevant way.

- Take input an URL
- Return the shortened URL

## Technologies and Languages

- [ ] Python
- [ ] Javascipt
- [ ] Tiny Url
- [ ] Bit.ly

[2020-09-25 18:06] bislara opened #3 "Typing Speed Test"
## Description
Script to test the Typing Speed of the User

- User must be given a paragraph to see and type the same.
- Take input paragraph from the user.
- Note down the time taken for the user to write the paragraph.
- Show some congratulations message

## Technologies and Language
Open to do in any language and use any technology

[2020-09-25 20:44] gudeliauskaspam commented on #3
Hey! I have interest in doing this and I'm going to open a PR during Hacktoberfest!
Is there already a way to take these paragraphs and display them to the user or should it be implemented?

[2020-09-25 23:18] gudeliauskaspam commented on #1
Hey! I have interest in doing this and I'm going to open a PR during Hacktoberfest!

[2020-09-26 08:50] bislara commented on #1
Yeah sure, you can work on it. Comment on the issue.I will assign it to
you.

Regards,
Biswajeet Sahoo

On Sat, Sep 26, 2020 at 4:48 AM Pâmela G. <notifications@github.com> wrote:

--
*Biswajeet Sahoo,*
*Roll number - 117ec0323*
*Undergraduate student in the ECE department *

*National Institute of Technology, Rourkela, Odisha 769008*
*Phone : +91 97787 56623*
*LinkedIn <https://www.linkedin.com/i

[2020-09-26 09:54] bislara opened #4 "Mail Sender GUI"
## Description

Make a GUI / Web Application for sending mail to a single recipient or multiple recipients.

- Option to choose a single recipient or more than one recipient
- If more than one recipient, then show the option to input manually or take data from the CSV file.
- Input field to enter the Subject, Message, Attachment option, etc
- A console-type of Box showing success messages once the

[2020-09-26 10:06] bislara opened #5 "Youtube Video Downloader GUI"
## Description

Make a GUI for downloading videos from Youtube.

- Take input as the URL of the video
- Show all the details like title, rating, view count, author, length of the video, description, likes, dislikes, etc
- Show available video resolution types to download.
- Give the option to user to select the video type to download.
- Get the location where the user wants to store the video.

##

[2020-09-26 10:31] bislara opened #6 "Paint App"
## Description
Make a GUI/Web application to draw and paint using your cursor. It should have the following options: -

- [x] option to make choose the brush size.
- [x] option to choose different brush colour
- [x] option to save it as an image in any image format
- [ ] Undo (optional)
- [ ] Clear the whole screen (optional)

## Technologies and Language

- Python
- Javascript
- PyQt5 (Recommende

[2020-09-26 10:32] Volku commented on #2
I want to try out with this. Could you assign it for me please?

[2020-09-26 10:43] Volku commented on #2
I am using Python3 and JavaScript ES6. Is that's okay?

[2020-09-26 10:45] bislara commented on #2
Yeah sure. Go with it. 👍

[2020-09-26 11:16] bislara opened #7 "Dinosaur Game"
## Description
Make an application for the dinosaur game exactly similar to the game present in chrome.

## Technologies

- Python
- PyGame

[2020-09-26 11:46] yash-agarwal17 commented on #7
@bislara Can I work on this?

[2020-09-26 11:48] bislara commented on #7
Sure. Go for it. 👍

[2020-09-26 11:50] gudeliauskaspam commented on #1
Hey! I have interest in doing this and I'm going to open a PR during Hacktoberfest!
Thanks! :)

[2020-09-26 11:51] bislara commented on #1
Sure. Go for it 👍

[2020-09-26 11:55] bislara opened #8 "PDF voice reader"
## Description
Script to extract text from the PDF and convert the text to voice.

- [ ] Take input as the PDF location
- [ ] Extract text from PDF
- [ ] Convert the text to voice and play that

## Technologies and Languages

- Python
- Libraries for PDF Reader and Voice Conversion

 Any other language and technology is also fine

### Optional Work
You can make a GUI for this.

[2020-09-26 12:25] bislara opened #9 "Attribute Extractor"
## Description
Extract Links, Phone number, Email Address from the text given in input.

- [ ] Any Link with either HTTP or HTTPS.
- [ ] 10 digit phone number
- [ ] Email id with any local part and any domain part
- [ ] Display the list of all the attributes

Adding more attributes are welcomed.

## Technologies and Languages

- Python
- Javascript
- C++
- Regex

You can use any other language or

[2020-09-26 12:39] Tzupy commented on #3
Hello, may i work on this?

[2020-09-26 13:28] bislara commented on #3
Ya Sure. Go for it. 👍

[2020-09-26 15:05] bislara opened #12 "Issue Labeler Action"
## Description
Add a GitHub action to label the issues with relevant labels (Ex - add different languages label from the issue description)

## Technologies and Languages
JS, GitHub Actions, and workflows

[2020-09-26 15:33] devil-cyber commented on #8
can you assigned me  I am ready to work including GUI (kivy)

[2020-09-26 15:49] bislara commented on #8
Ya sure. Go for it. 👍

[2020-09-26 15:51] bislara opened #14 "Github User details"
## Description
Script to get the details of a particular user using the GitHub API
Basic Details:-

- [ ] Avatar url
- [ ] URL of the profile
- [ ] Repos URL
- [ ] Location
- [ ] Email
- [ ] Bio
- [ ] Number of private repos
- [ ] Number of public repos
- [ ] Number of followers
- [ ] Number of following

Feel free to add more relevant details of the user

## Technologies and Languages

- Python
-

[2020-09-26 15:51] devil-cyber commented on #8
I will draft PR  between 1oct to 3 Oct will it be fine

[2020-09-26 17:02] djeni98 commented on #14
Hey, I am starting with PRs and github workflow. Can I try this issue? I have some experience with python

[2020-09-26 17:05] bislara commented on #14
Sure. Go for it  👍

[2020-09-26 17:07] bislara commented on #8
Cool. No problem. I get it. Mostly because of Hacktober fest.

[2020-09-26 17:08] devil-cyber commented on #8
Ya right😃😃

On Sat, Sep 26, 2020, 10:37 PM Biswajeet Sahoo <notifications@github.com>
wrote:

[2020-09-26 18:03] rohan2734 commented on #14
Hey i would like to work on this, i am good at js, is this issue assigned to someone?

[2020-09-26 22:15] bislara opened #20 "Wifi Password Hack"
## Description
Script to get the password of all the known networks to which your device has been connected.

- [ ] Should return the list of the network name with its corresponding password.
- [ ] Even if it was an open network, it must be included in the list

## Technologies and Languages

- Python

Feel free to use any other language or technology

## Aditional Work
You can make a GUI to show

[2020-09-27 05:07] Arpita-25 opened #21 "Request for collaboration!"
## Description
Hi! I wanted to work on **youtube video downloader** from your **code-n-stitch** repo!

## Technologies and Languages
List of all the technologies and languages which you think are required for solving this issue

## Aditional Work
Any optional work you want to add.

[2020-09-27 06:24] #2 closed

[2020-09-27 06:42] bislara commented on #21
The issue is already present. Check this out. [#8](https://github.com/bislara/code-n-stitch/issues/5)

[2020-09-27 06:42] #21 closed

[2020-09-27 06:56] bislara commented on #14
Yes, bro, I assigned it to the person who commented first. You can try some other issues. Check it out [here](https://github.com/bislara/code-n-stitch/issues/)

[2020-09-27 07:05] Arpita-25 commented on #5
Hi! I would like to work on this!

[2020-09-27 07:06] iriyagupta commented on #5
Hi, I would like to work on this. I am done with the code, trying to create a GUI

[2020-09-27 07:17] bislara commented on #5
On the first-come basis, I am assigning this to @iriyagupta. You can go for it. 👍

[2020-09-27 08:19] SK-siba commented on #4
I would like to work on this .

[2020-09-27 08:21] bislara commented on #4
Sure. Go for it. 👍

[2020-09-27 08:44] harshit-saraswat commented on #20
Hey can I do this? I can probably do a script to get wifi addresses and passwords stored on your laptop/pc. About the GUI, I can try for a minimal GUI.

[2020-09-27 08:54] bislara commented on #20
Ya sure. Go for it 👍

[2020-09-27 11:16] malathit commented on #12
Shall I work on this for the **Hacktoberfest**? Can you explain what kind of labels to add? May be a list of labels?

[2020-09-27 15:04] iamlordutkarsh commented on #3
Hey am Interested to solve this can u assign me this

[2020-09-27 15:38] bislara commented on #3
Sure. Go for it 👍

[2020-09-28 08:46] bislara opened #24 "Contributor Action"
## Description
Add a GitHub Action to add the contributor to the readme by invoking the @all-contributors bot. Only the new contributors should be added. The contributors should have a `code` and `documentation` attribute in the description. After this is done, It should automatically create a pull request for this change.

## Technologies and Languages
- GitHub actions

### Reference Link
[All Co

[2020-09-28 08:51] bislara commented on #12
Hey, actually I was working on this. I forgot to assign it to me. And the work is almost done. I will be creating a PR soon.
Maybe you can try [this](https://github.com/bislara/code-n-stitch/issues/24) out or any other [issues](https://github.com/bislara/code-n-stitch/issues/)
You can also create your own issue and work on it. 🤟

[2020-09-28 09:00] hariom1625 commented on #24
Hey, can you please elaborate on the issue furthermore, because as I can see you already have ```all-contributors``` package configured for you in the README.md file.

[2020-09-28 09:44] bislara commented on #24
The list of contributors goes on changing as a new contributor gets added after their PR is merged. I have to update the readme manually, but adding their name, their avatar URL, their list of commits as `code` and their PR as `documentation`.

I wanted if we can automate this process. I have installed the @all-contributors bot for this repo but I have to put the below comment on issues or PR to a

[2020-09-28 09:51] hariom1625 commented on #24
Got it, well till now I also haven't automated the process, have been using the same approach. Let me see if I can find a way to automate this manual process :-)

[2020-09-28 10:26] bislara commented on #24
You need some time or should I assign it to you?

Basically, you have to create an action which will comment on a merged PR and the comment should contain the All contributor addition code.

[2020-09-29 06:12] hariom1625 commented on #24
Don't assign it to me now, once I will figure out how to trigger that task I will make the PR :-)

[2020-09-29 07:11] bislara commented on #24
Okay cool

[2020-09-29 09:34] t0xic0der commented on #9
Hi @bislara, nice project you have here. I would suggest fragmenting this issue into three - each for links, phone number and email address to be able to quickly find more contributors. Also, the issue title could be a bit more descriptive.

Happy hacking! :smile:

[2020-09-29 09:40] bislara commented on #9
Thank you so much for suggesting. I will surely look into this.  😊

[2020-09-30 11:58] bislara opened #26 "Screen Recorder"
## Description
Design a screen recorder app (GUI with its backend) which can capture the screen and record the screen.

## Technologies and Languages

- Python
- PyQt or Tkinter library

## Aditional Work
convert the app to an executable binary file

[2020-09-30 12:00] #9 closed

[2020-09-30 12:03] bislara opened #27 "Email Id extractor"
## Description
Extract email addresses from the text given in the input and display all the email ids in the end

## Technologies and Languages
- Python
- Javascript
- C++
- Regex

You can use any other language or technologies as well.

## Aditional Work
You can make a GUI for this application.

[2020-09-30 12:06] bislara opened #28 "Hyperlink Extractor"
## Description
Extract any Link with either HTTP or HTTPS protocol from the text given in the input and display all the links in the end.

## Technologies and Languages
- Python
- Javascript
- C++
- Regex

You can use any other language or technologies as well.

## Aditional Work
You can make a GUI for this application.

[2020-09-30 12:10] kamil200 commented on #27
I wanted to work on this issue.

[2020-09-30 12:10] bislara opened #29 "Phone number Extractor"
## Description
Extract all the 10 digit phone number from the text given in the input and display all the numbers at the end

## Technologies and Languages
- Python
- Javascript
- C++
- Regex

You can use any other language or technologies as well.

## Aditional Work
You can make a GUI for this application.

[2020-09-30 12:11] bislara commented on #27
Sure, Go for it. 👍

[2020-09-30 12:19] UbadahJ commented on #28
What is the procedure to get this issue?

[2020-09-30 12:21] kamil200 commented on #27
should i create new folder for this issue.?

[2020-09-30 12:56] pgirikishore commented on #29
Can I work on this as a part of Hacktoberfest?

[2020-09-30 12:59] pgirikishore commented on #26
Can you elaborate on what you mean by backend?
If it's alright can I solve this issue as a part of Hacktoberfest?

[2020-09-30 13:06] DevanshD3 commented on #29
I would like to implement the python version of it for hacktoberfest 2020

[2020-09-30 13:11] TheCoderNikhil commented on #29
I would like to implement the python version of it for hacktoberfest 2020, Please Issue Me

[2020-09-30 13:11] bislara commented on #26
By backend I meant, doing the architecture of how the screen will be recorded, not just a GUI with no functionality.
The frontend GUI should be linked with the functionality.
Yes, sure. you can do it for Hacktoberfest. 🤟

Also do give a star⭐  if you like the project.

[2020-09-30 13:14] bislara commented on #27
Yes, Make a new folder with the issue name. ex- for this issue, name the folder as "email_id_extractor"

Rest guidelines you can find [here](https://github.com/bislara/code-n-stitch/blob/master/CONTRIBUTING.md)

[2020-09-30 13:16] bislara commented on #28
If you are interested to work on this. I can assign it to you. Once assigned, then you can create your PR. ✌

[2020-09-30 13:17] UbadahJ commented on #28
Ok, please assign it to me

[2020-09-30 13:20] bislara commented on #28
Okay cool.

[2020-09-30 13:27] DevanshD3 commented on #29
I am ready with the code, should I make a PR now or tomorrow? Also it would be great if you could assign it to me.

[2020-09-30 13:29] pgirikishore commented on #26
Sure! You can assign this issue to me. I will work on it.

[2020-09-30 13:42] bislara commented on #26
Okay cool. Go ahead 👍

[2020-09-30 14:28] DevanshD3 commented on #29
Hey @bislara can I be assigned this issue so that I can create a PR

[2020-09-30 14:44] bislara commented on #29
Hey guys, I basically follow the rule of First come first assign. But, as @pgirikishore is already assigned another issue, I guess its fine if I assign it to the 2nd person. So, I will go with @DevanshD3. Rest guys, you can go through other issues. Also, I will be adding more issues soon.

One thing @DevanshD3 don't create PR before you are assigned an issue.

Happy Hacking  🙂

[2020-09-30 14:46] TheCoderNikhil commented on #27
I want to contribute

[2020-09-30 14:49] TheCoderNikhil commented on #3
Hey am Interested to solve this can u assign me this

[2020-09-30 14:50] TheCoderNikhil commented on #28
Ok, please assign it to me

[2020-09-30 14:51] iamlordutkarsh commented on #3
Am working on this I Will Create Pull request in October #hacktoberfest

[2020-09-30 15:06] DevanshD3 commented on #29
@bislara should I create a PR again? Sorry for creating one without being assigned

[2020-09-30 15:15] bislara commented on #29
No, it's fine now.  Look after this from next time ✌

[2020-09-30 15:24] bislara opened #32 "Password Strength Checker"
## Description
Script to check the password given as input from a user. It should have the following requirements.

- [ ] Minimum 8 characters in length
   Contains 3/4 of the following items:-
- [ ] Uppercase Letters
- [ ]  Lowercase Letters
- [ ] Numbers
- [ ] Symbols

Calculate the score for the password entered and also a comment about the complexity of the password (like Too short, add some m

[2020-09-30 15:27] UbadahJ opened #33 "Normalize the syntax and create rules for future commits"
## Description
Currently, there are no rules that define how the code is to be formatted as well as the format of the directory. This should be changed to improve the structure

The structure can be like this
- [language]
  - [project]
    - [files]

Also, there can be a specific definition for each language formatting, Like using Black for Python, Google Style for Java and Cpp, and so on

## Tech

[2020-09-30 15:27] bislara commented on #28
@TheCoderNikhil  Its already assigned, Please check other issues or create your own issues.

Happy Hacking 🙂

[2020-09-30 15:29] CodeSadhu commented on #32
@bislara I'd love to work on this. Can you please assign it to me?

[2020-09-30 15:33] bislara commented on #33
Yeah, This would be great. Please, go ahead with this. It would be great if done as soon as possible. 👍🤟

Also, we can have a rule for the project folder name.

[2020-09-30 15:36] CodeSadhu commented on #32
@bislara Thanks! Excited to get started!

[2020-09-30 15:37] CodeSadhu commented on #32
@bislara Do I make a new folder named Password_Checker and add it to that? Also, sorry for the newb question, but is there a time limit for this? (first time contributor)

[2020-09-30 15:42] bislara commented on #32
Yes, Create a new folder and work on it. Go through the  [Contribution Guidelines](https://github.com/bislara/code-n-stitch/blob/master/CONTRIBUTING.md) for more information.

No bro there is no time limit, but it's better if you complete as soon as possible. It will be counted for Hacktoberfest if you complete by October.

Happy Hacking 🙂

[2020-09-30 15:48] bislara commented on #33
Also, we can have a readme inside the language folder where we can have a list of projects in that language.

[2020-09-30 16:00] UbadahJ commented on #33
Once they are merged into the master? Or by the person creating pull request?

[2020-09-30 16:13] CodeSadhu commented on #32
@bislara Yeah I'll complete it in October only. Was asking if there's a time limit of hours (eg. 24 hrs) or sth like that. Thanks for the info! Will try to complete ASAP.

[2020-09-30 17:21] #29 closed

[2020-09-30 18:04] pranav6670 commented on #6
Can I work on this issue? Thank You!

[2020-09-30 18:41] bislara commented on #6
Sure. Go for it. 👍

[2020-09-30 20:03] bislara opened #38 "Text from Image"
## Description
Extract Text from Image. Take input as the image file and finally display the text extracted from the image.

## Technologies and Languages

- Python
- OCR [Optical Character Recognition]

## Aditional Work
Make a GUI to take input as the image and display the output text in the GUI.

[2020-09-30 20:08] mr-tafreshi commented on #32
I know someone is working on this issue.but iam 13 and i very very like to work on this.Can you please assign it to me?

[2020-09-30 20:23] bislara opened #39 "Invisible Cloak"
## Description
Write script for the cloak of invisibility which was used by Harry Porter to become invisible. It should make a person invisible in a live webcam.

## Technologies and Languages

- Python
- Image Processing
- Color detection and segmentation

[2020-09-30 20:29] bislara opened #40 "Jpg to Png convertor"
## Description
Script to convert a .jpg image to .png image format. Take input as image and output should be displayed and stored in the file system

## Technologies and Languages

- Python
- javascript

Feel free to choose any other language or technology.

## Aditional Work
Make a GUI for this application. Also, you can do the vice versa as well (png to jpg)

[2020-09-30 20:40] shubham2704 commented on #39
Hello @bislara , I would like to work on this issue. Please assign me this issue.

[2020-09-30 22:46] BatoolMM commented on #40
Hi, I'd like to use python. Would you mind if I give it a try, please?

[2020-10-01 02:03] kamil200 commented on #27
![email_extarctor1](https://user-images.githubusercontent.com/38882087/94757604-54698780-03b8-11eb-982b-35d4de6953af.png)

[2020-10-01 02:27] kamil200 commented on #27
This my first pull request. please tell me if i did anything wrong here.

[2020-10-01 03:35] Samikdevel commented on #38
I will love to work on this.
Also is there a specific module for OCR or GUI that I have to use.

[2020-10-01 03:49] pgirikishore commented on #26
Should I create a new branch or shall I merge it in the master branch?

[2020-10-01 05:19] bislara commented on #38
Great.
Yeah, you can use PyQt5 or Tkinter for GUI. and module it's up to you.
Feel free to use any technology or language.

[2020-10-01 05:26] bislara commented on #39
sure. go ahead

[2020-10-01 05:27] bislara commented on #40
no bro. Go ahead and try to complete this also. Should I assign it to you then?

[2020-10-01 05:34] Samikdevel commented on #38
Ok

[2020-10-01 06:35] UjwalKandi commented on #40
Hello @bislara, I can do it. Can you assign me to this issue?

[2020-10-01 10:12] bislara commented on #40
If you can do in both then that's superb. Otherwise any one of that is also fine.

[2020-10-01 10:15] bislara commented on #40
Hi @UjwalKandi , Actually I believe in first come first assign. As @BatoolMM has already asked for it. I would like to know whether he will be taking it or not. If not, I will assign it to you.

Also, that would be superb if done in both the languages. but else,, its also fine to do in any one of it.

[2020-10-01 11:09] BatoolMM commented on #40
Hi @bislara , yes. I'll get it done if you can assign it to me, please?

[2020-10-01 12:09] #6 closed

[2020-10-01 12:11] bislara commented on #6
@all-contributors please add pranav6670 for code, doc

[2020-10-01 12:16] #27 closed

[2020-10-01 12:55] #3 closed

[2020-10-01 13:47] bislara commented on #40
Sure. Go ahead.

[2020-10-01 14:14] #26 closed

[2020-10-01 16:37] bislara opened #53 "QR Scanner"
## Description
Write a script to generate QR code from given text and also to extract text from the QR code.

## Technologies and Languages

- Python

Any other language and technologies are also welcome

## Aditional Work
Make a GUI for this

[2020-10-01 16:48] yashqwerty1 commented on #53
can you assign this work to me please

[2020-10-01 16:50] bislara commented on #53
Okay sure.. Go ahead

[2020-10-01 16:51] yashqwerty1 commented on #53
You will surely get awesome result because i made it before also.

[2020-10-01 16:52] bislara commented on #53
Great!. Looking forward to it

[2020-10-01 17:03] bislara opened #55 "Editing PDF"
## Description
Write a script to implement the below functionalities:-

- [ ] Extract document information from a PDF like
   - Author
   - Creator
   - Producer
   - Subject
   - Title
   - Number of pages
- [ ] Rotate pages
- [ ] Merge PDFs (take input as the file names and its location)
- [ ] Split a single PDF to multiple PDFs.
- [ ] Add watermarks to each page

## Technologies and Languages

[2020-10-01 17:57] Rahul30032 commented on #55
Hey in case it is open I would like to work on this issue. Also do we have to implement all of these functionalities in a single script?

[2020-10-01 18:14] yashqwerty1 commented on #53
sorry brother you can assign this to someone else. In my Pycharm some modules are not working.

[2020-10-01 18:39] #32 closed

[2020-10-01 19:34] #14 closed

[2020-10-01 19:40] bislara commented on #55
You can have multiple scripts but all functionality must be implemented.

[2020-10-01 19:40] bislara commented on #55
Go ahead. You can always ask me if you have any issues.

[2020-10-01 20:20] bislara commented on #53
@yashqwerty1  did the modules work?

[2020-10-02 06:02] #40 closed

[2020-10-02 07:59] #20 closed

[2020-10-02 08:18] Samikdevel commented on #38
This is my first time creating a pull request so please tell if I did something wrong

[2020-10-02 12:53] #38 closed

[2020-10-02 13:01] #8 closed

[2020-10-02 17:18] yashqwerty1 commented on #53
nope bro sorry it is showing no module named '' "

[2020-10-02 17:23] bislara commented on #53
should I un-assign u then?  Well u can always give a try after wards if you are interested to do this project

[2020-10-02 19:35] yashqwerty1 commented on #53
Sure Thanks for giving me this assignment.
I am going to come back with a solution for my problem.

[2020-10-02 20:36] bislara opened #68 "Greeting Action"
## Description
Greet the user when he/she creates a new PR or issue.

## Technologies and Languages

- Github Action

[2020-10-02 20:54] #12 closed

[2020-10-02 20:57] bislara opened #70 "Testing issue labeller"
## Description
This is a testing issue for checking the working of the issue labeller GitHub actions

## Technologies and Languages

- Python
- javascript
- apis
- git
- documentation

[2020-10-02 20:58] bislara commented on #70
Perfectly working. Good to go

[2020-10-02 20:58] #70 closed

[2020-10-02 21:32] #68 closed

[2020-10-02 21:44] lara-sahoo opened #72 "Testing the Greeting action"
## Description
This is a test issue to check the greetings github actions.

## Technologies and Languages

- git
- github actions

[2020-10-02 22:19] #72 closed

[2020-10-03 08:02] Samikdevel commented on #53
I will love to work on this

[2020-10-03 11:22] bislara commented on #53
Sure. Go ahead 👍

[2020-10-03 15:08] Samikdevel commented on #53
Also do I have to implement Webcam capture in it.
If yes then real-time or a single photo capture

[2020-10-03 15:38] bislara opened #74 "Image Encryptor and Decryptor"
## Description
Script to encrypt a given input image and also decrypt the encrypted image.
The script can generate a random noise image as a key and then use xor bitwise operation to encrypt the image.
And use a similar reverse process to decrypt it.

## Technologies and Languages

- Python

Using any other language and technology is also welcome.

## Aditional Work
Make a GUI for this application

[2020-10-03 15:44] bislara opened #75 "IPL Score Notifier"
## Description
Script that will give notification of the live score of the ongoing match.

## Technologies and Languages

- Python

Any other language and technology is also fine

## Aditional Work
Convert the application to an executable file which can run without installing the dependencies.

[2020-10-03 15:47] bislara opened #76 "Send SMS"
## Description
Script to send SMS to a given number taken as input from the user.

## Technologies and Languages

- Python
- Javascript

Any other language and technology are also fine.

## Aditional Work
Make a GUI for this application

[2020-10-03 15:51] gs202 commented on #76
I can add a quick script for that using Twilio, should i do that?

[2020-10-03 15:53] bislara opened #77 "Coronavirus Stats"
## Description
Get the statistics of the COVID 19 situation of a country or region taken as input from the user.

## Technologies and Languages

- Python
- Javascript
Any other language and technology are also fine

## Aditional Work
Make a GUI for this application

[2020-10-03 16:18] Keerthana-Thiagaraj commented on #74
Interested. Can I please take this up?

[2020-10-03 16:23] bislara commented on #74
sure. go ahead👍

[2020-10-03 16:24] bislara commented on #76
sure. Go ahead 👍

[2020-10-03 16:24] gs202 opened #78 "Suggestion: OTP generating script that paste it into the clipboard"
## Description
Small script that generates OTP from an auth key and paste it into the clipboard.
This is useful when you have MFA in your phone and you'd like to automate the flow

## Technologies and Languages
Python

## Aditional Work
I'd like to do it :)

[2020-10-03 16:27] adripo commented on #77
I will do this

[2020-10-03 16:28] bislara commented on #78
Sure Sure. Go ahead

[2020-10-03 16:29] bislara commented on #77
Sure. Go ahead👍

[2020-10-03 18:22] #77 closed

[2020-10-03 19:58] megabyte98 commented on #75
it sounds fun can i try this ?

[2020-10-04 06:14] bislara commented on #75
sure. Go ahead.

[2020-10-04 06:58] bislara opened #83 "Scrap Clipboard"
## Description
Get all the information from the clipboard

- [ ] Store text in the clipboard
- [ ] Store image in a clipboard
- [ ] Get the recent item from the clipboard
- [ ] Get a list of the currently available types

## Technologies and Languages

- Python
- Javascript

Any other language and technologies are also fine.

## Aditional Work
Make a GUI for this application

[2020-10-04 07:02] bislara opened #84 "Torrent Searcher"
## Description

- [ ] Get the torrent magnet links of the movie.
- [ ] Get the movie name as input from the user.
- [ ] Copy the link  to the clipboard

## Technologies and Languages

- Python
- javascript
- APIs

Any other language and technology is also fine

## Aditional Work
Make a GUI for this application

[2020-10-04 07:11] #78 closed

[2020-10-04 07:17] bislara opened #86 "Video Player"
## Description
Take the path of the video as input from the user and play the video

## Technologies and Languages

- Python
Any other language and technology is also fine.

[2020-10-04 07:18] lara-sahoo commented on #86
Hey I would like to work on this.

[2020-10-04 07:19] lara-sahoo commented on #84
Hey I would like to work on this

[2020-10-04 07:25] Krishna-Sivakumar commented on #83
Can I try this out?

[2020-10-04 07:26] bislara opened #87 "Scrap Links"
## Description
Script for scraping all the links within a webpage.

## Technologies and Languages

- Python
any other language and technology is also welcome

## Aditional Work
Make a GUI for this application

[2020-10-04 07:34] bislara commented on #83
Sure.
You can have this as a CLI application or you can make a GUI for this application as well .

[2020-10-04 07:36] bislara opened #88 "Scrap Emails"
## Description
Scrap all email from the website link given as  input from the user

## Technologies and Languages

- python
- Javascript

Any other language and technology is also fine.

## Aditional Work
Make a GUI for this application

[2020-10-04 07:39] bislara opened #89 "Currency Converter"
## Description
Convert the currency value from one unit to another.
Take the currency (FROM and TO) as input from the user.
Also, take the amount he wants to convert as input

## Technologies and Languages

- APIs
- Python
- Javascript

Any other language and technology is also fine.

## Aditional Work
Make a GUI for this application

[2020-10-04 07:55] vighneshdeepweb commented on #89
can u assign me this task @bislara

[2020-10-04 08:06] anshik1998 commented on #89
Hie @bislara, @vighneshdeepweb I forgot to mention to assign this ask to me. Just now, I completed up this task in CUI. Can I raise the pull request, if @vighneshdeepweb you have not started yet on this task?

[2020-10-04 08:08] Rishabrp99 commented on #89
Hey @bislara this is Rishab, Can you please assign this project to me .This is my first contribution to open source also I have the code ready. Please let me know ASAP.

[2020-10-04 08:31] vighneshdeepweb commented on #89
buddy @anshik1998 me too started...

[2020-10-04 08:34] anshik1998 commented on #89
No issues :)Submit your one then! @vighneshdeepweb

[2020-10-04 08:48] namanshah01 commented on #87
Hey @bislara can you please assign this to me? I would like to work on this

[2020-10-04 09:15] Samikdevel commented on #53
@bislara Please reply

[2020-10-04 09:44] bislara commented on #87
Sure. Go ahead

[2020-10-04 09:58] vivax3794 opened #91 "Python Type Converter."
## Description
Convert a argument to the given type, this would even support type hints.
so for example you could do `convert([1, 2, 3], typing.List[str])` and expect to get `["1", "2", "3"]` back!

## Technologies and Languages
* python

[2020-10-04 10:06] vighneshdeepweb commented on #89
Is it fine now @bislara

[2020-10-04 11:17] bislara commented on #53
Hey sorry.
If you can implement it in real-time then it would be really great. If you are facing issues, then you can go ahead with a picture.

[2020-10-04 11:17] ronanren commented on #88
can i assigned me to this task ?

[2020-10-04 11:19] bislara commented on #91
Can you explain little more, like what kind of input you will be taking from the user?

[2020-10-04 11:24] #89 closed

[2020-10-04 11:27] #76 closed

[2020-10-04 11:29] bislara commented on #88
Sure. go ahead

[2020-10-04 11:50] vivax3794 commented on #91
a more complex example might be:
[code]
output would be:
[code]

basically traverse the data structure given and the type hint, and convert it if possible.

[2020-10-04 12:20] bislara commented on #91
Okay cool. Can you please say some application for this?
I am adding projects that have some kind of application and perform certain tasks. So, I somewhat feel this is not relevant to it.

[2020-10-04 12:35] vivax3794 commented on #91
tbh you got a point, it was mainly a cool idea I had.

can't really think of a situation this would be super useful, most things can be done in a more pythonic way :/

[2020-10-04 14:06] bislara commented on #91
Thank you so much for expressing such ideas. If you have anything else which is relevant to this repo then, go for it, and create an issue.  It doesn't matter for me whether it is a small application or a larger one. every contribution matters for me.

[2020-10-04 14:06] #91 closed

[2020-10-04 14:57] #88 closed

[2020-10-04 15:06] Samikdevel commented on #53
Ok

[2020-10-04 19:34] #87 closed

[2020-10-05 01:08] gudeliauskaspam commented on #1
hey, i will start working on this soon :)

[2020-10-05 06:19] gs202 opened #100 "Duplicate files finder"
## Description
Script that will check a tree of directories and return all duplicate files by comparing hash

## Technologies and Languages
python

## Aditional Work
I'd like to do it

[2020-10-05 06:48] bislara commented on #100
Sure go ahead 👍😊

[2020-10-05 17:40] Aniket762 opened #102 "Password Manager"
Password Manager is made with Python. This small app will help you to store you username corresponding Link. After you run and click on save button a .txt file is being created in your local host and you can use it for future reference.

Not only it will store it will also generate random password according to the number of characters you choose and strength. Random password  using **Tkinter** mod

[2020-10-05 21:08] #102 closed

[2020-10-06 08:36] #75 closed

[2020-10-06 11:29] #84 closed

[2020-10-06 12:08] #86 closed

[2020-10-06 20:03] bislara opened #110 "Folder to Zip"
## Description
Write a script to convert a folder to a zip file

## Technologies and Languages

- Python

Any other language and technology is also fine

## Aditional Work
Make a GUI for this application

[2020-10-06 20:10] bislara opened #111 "Internet Speed test"
## Description
Write a script to find the below details

- [ ] Upload Speed
- [ ] Download Speed
- [ ] Ping

## Technologies and Languages
- Python

Any other language and technology is also fine

## Aditional Work
Make a GUI for this

[2020-10-06 20:10] gkydev commented on #110
Hi can you assign this to me please

[2020-10-06 20:15] devanaggarwal commented on #111
Can i work on this issue?

[2020-10-06 20:15] bislara opened #112 "Movie Recommendation System"
## Description
Write script to recommend a list of movies based on the genres liked by the user. Give the option to select genres like drama, musical, family, thriller, sport, etc

Hint - Scrap the IMDB page to get the results from it

## Technologies and Languages

- Python

Any  other language and technology is also fine

## Aditional Work
Make a GUI for this

[2020-10-06 20:18] bislara opened #113 "PDF Watermarker"
## Description
Add watermark to every page of the PDF or to a specific page (ask the user to give the page number as input)

## Technologies and Languages

- Python

Any other language and technology are welcomed.

## Aditional Work
Make a GUI for this

[2020-10-06 20:19] mdegis commented on #112
hi, I would like to work on this 🕵️‍♂️

[2020-10-06 20:22] bislara opened #114 "Scrap LinkedIn Connections"
## Description
Write script to scrap LinkedIn Connections.
The Script should scrap the following and store them in a txt or csv File:

- [ ] Name
- [ ] LinkedIn URL
- [ ] Latest Job Position
- [ ] Skills

## Technologies and Languages

- Python

Any other language and technology is welcome

## Aditional Work
Make a GUI for this

[2020-10-06 20:28] bislara opened #115 "Image Cartoonizer"
## Description
Convert an image to its cartoon version.

## Technologies and Languages

- Python
- Simple Image processing Techniques

## Aditional Work
Make a GUI for this application

[2020-10-06 20:31] Frans06 commented on #113
Can you assign to me?

[2020-10-06 20:34] Frans06 commented on #111
can you assign to me?

[2020-10-06 20:34] jp2373 commented on #114
I can do this, Can you please assign this to me?

[2020-10-06 20:35] bislara opened #116 "QUIZ App"
## Description
Make a quiz app that shows question to the user and takes the answer as input.
Finally in the end, show the score to the user, by checking the correct answer.
Store the questions and answers in a CSV file.

Make a GUI for this application

## Technologies and Languages

- Python
- Javascript

Any other language and technology is also welcomed.

[2020-10-06 20:35] Frans06 commented on #115
Hi, I would like to assign it to me.

[2020-10-06 20:44] bislara opened #117 "PDF Encryption"
## Description
Encrypt a PDF with a password (Take input from the user)

## Technologies and Languages

- Python

Any other language and technology is also welcomed

## Aditional Work
Make a GUI for this application

[2020-10-06 20:54] bislara opened #118 "Find Broken Links"
## Description
Find all the broken links of a website.
Take the link of the website as the input from the user

## Technologies and Languages

- Python
- Javascript

Any other language and technology is also welcome

## Aditional Work
Make a GUI for this application

[2020-10-06 21:05] bislara opened #119 "Video to Gif"
## Description
Convert a Video to a Gif format.
Take input as the start time and end time in the video between which the gif needs to be made.

## Technologies and Languages

- python

Any other language and technology is also welcomed.

## Aditional Work
Make a GUI for this application

[2020-10-06 21:06] cyrilico commented on #118
I'd like to give this a shot

[2020-10-07 00:47] GSantos23 commented on #117
I am interested in this one.

The GUI is mandatory for this Issue or for subsequent issues?

[2020-10-07 03:20] PratikshaPP commented on #119
I would like to work on this. Could you please assign it to me?

[2020-10-07 05:31] amannv2 commented on #119
I would like to work on this issue, also I've worked on GUI using Python before so I'll try to add that feature as well.

[2020-10-07 06:00] bislara commented on #110
@gkydev  Hey, I belive in first come, first assign. So , I will assign it to @Double77x . If he is unable to complete this, then, I will see ur PR and merge it.

[2020-10-07 06:04] bislara commented on #111
Hey @Frans06 , I believe in first come first assign. So, I am assigning this to @devanaggarwal . If he/she is not able to complete it, then, you can move ahead with this.

[2020-10-07 06:07] bislara commented on #112
Sure. Go ahead👍

[2020-10-07 06:08] bislara commented on #113
sure

[2020-10-07 06:17] bislara commented on #117
GUI is not mandatory but It will be better if  you make one.

[2020-10-07 06:24] bislara commented on #119
Hey @amannv2  , I believe in first come first assign. So, I am assigning this to @PratikshaPP . If he/she is not able to complete it, then, you can move ahead with this. Also, after she completes you can always create an issue to improve it.

[2020-10-07 06:34] Atharva8 commented on #116
Can I Please work on this?

[2020-10-07 06:36] bislara commented on #116
Sure. Go ahead

[2020-10-07 06:52] sark-2110 commented on #116
I have worked in javascript regarding this quiz app. Can you assign me this? So that I can make a pull valid request.

[2020-10-07 06:59] bislara commented on #116
Hey, @sark-2110 Its already been assigned. After he/she completes this and if I see u can improve it or add better code for it, Then, I will assign it to u and you can work on it.  Sounds good?

[2020-10-07 07:01] sark-2110 commented on #116
okay I have already made a good QUIZ app for this. Hence was asking for it.

[2020-10-07 07:25] bislara commented on #116
Great. I will look into this after he completes.

[2020-10-07 08:58] jp2373 commented on #111
Can you assigne it to me later on if they can't do it?

[2020-10-07 09:04] jp2373 commented on #113
Please assign this to me if person before me can't do it.

[2020-10-07 10:43] bislara commented on #113
@jp2373  Sure 👍

[2020-10-07 10:44] bislara commented on #111
Okay

[2020-10-07 19:12] #100 closed

[2020-10-07 19:18] #110 closed

[2020-10-07 19:50] #111 closed

[2020-10-07 19:56] #112 closed

[2020-10-07 19:59] #39 closed

[2020-10-07 22:40] gudeliauskaspam commented on #1
Hey, can I use Youtube API instead of Google API?

[2020-10-08 05:44] bislara commented on #1
yes yes sure.

[2020-10-08 17:13] bislara opened #131 "Wallpaper Changer"
## Description
Script to change the desktop wallpaper according to the image/images provided by the user. If multiple images provided then we can have a time interval after which the wallpaper will change.

## Technologies and Languages

- Python

Any other language and technology is also welcome.

## Aditional Work
Make a GUI for this.

[2020-10-08 17:38] bislara opened #132 "Website Cloner"
## Description
Given the link of the website, download all the files required for the offline reading, storage, etc.
Web scraping used for extracting data from the websites

## Technologies and Languages

- Python

Any other technology and language is also welcome.

[2020-10-09 05:06] gs202 commented on #132
I'll be happy to take this one.
What exactly do we want to have here? just download the whole content of the site or only specific assets?

[2020-10-09 05:08] gs202 commented on #131
I'll be happy to do it.
Is changing the wallpaper for macOS be good enough for that?
I guess that someone will be able to extend it later to other OSs

[2020-10-09 07:03] bislara commented on #131
It's okay. But see if you can write the code for other OS as well. Else, it's fine. I am not assigning u write now.
But u can move ahead in writing code and creating PR

[2020-10-09 07:05] bislara commented on #132
All the required files to load that page of the website/ whole website.  I need to u download all those to your local system.

[2020-10-09 07:36] gs202 commented on #131
I guess it will be pretty is to do it for Linux and Windows as well by simply detecting the OS.
I'll do them all

[2020-10-09 14:17] #115 closed

[2020-10-09 18:40] #118 closed

[2020-10-10 08:45] peteruche21 opened #140 "leaked passwords"
## Description
a small tool to check a password leak count

## Technologies and Languages
python

[2020-10-10 09:47] bislara commented on #140
Great!
can you describe little more about how you are going to do it and which passwords you are going to check?

[2020-10-10 11:07] peteruche21 commented on #140
I will use an api, and sha1 hash to check whether a password (entered by a use ) has been involved in a website that has experienced data breach
Basically any password,  ranging from easy to guess to really strong passwords
The program will get the leak or pawnAge count
https://www.google.com/url?sa=t&source=web&rct=j&url=https://haveibeenpwned.com/Passwords&ved=2ahUKEwjUhvfs8KnsAhUCrxoKHVH0B44QFj

[2020-10-10 11:19] bislara commented on #140
Great. Go ahead and start working.

[2020-10-11 06:40] Lakshita2002 opened #143 "Ping Pong Game using turtle module"
## Description
@bislara Could you please assign me the task of adding in this mini-project.

## Technologies and Languages
Python
Turtle (python module)

[2020-10-11 07:21] bislara commented on #143
Sure. Go ahead ✌. Looking forward to seeing your PR.

[2020-10-11 07:35] #131 closed

[2020-10-11 15:53] #140 closed

[2020-10-11 20:01] 10smruti opened #147 "Wikipedia searcher"
## Description
Python script to search any topic from Wikipedia and return details on the topic.
User can send specify the number of lines to be returned.

## Technologies and Languages
- Python

[2020-10-11 20:17] bislara commented on #147
Go ahead 👍

[2020-10-11 20:26] #147 closed

[2020-10-11 20:29] #143 closed

[2020-10-12 13:34] #113 closed

[2020-10-14 02:06] peteruche21 opened #152 "mac address changer"
## Description
securly change mac address for linux based distros by interacting with the standard I/O and shell commands using python

## Technologies and Languages
python

[2020-10-14 04:21] bunnysworld opened #153 "Covid 19-gif"
## Description
Wanted to plot the number of corona cases on the global map in .gif format

## Technologies and Languages
Technologies : Jupyter Notebook , DataVisualization
Languages :  Python 3.x

## Aditional Work
Check the overview of my project [here](https://github.com/bunnysworld/c-19-gif)

[2020-10-14 04:22] bunnysworld commented on #153
hey @bislara can you assign me with this issue

[2020-10-14 05:01] bislara commented on #153
Sure sure. Go ahead 🤟

[2020-10-14 05:04] bislara commented on #152
Great. Go ahead 👍

[2020-10-14 08:26] bislara commented on #1
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:26] bislara commented on #4
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:27] bislara commented on #5
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:27] bislara commented on #7
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:28] bislara commented on #28
@UbadahJ  Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:28] bislara commented on #53
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:29] bislara commented on #55
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:29] bislara commented on #74
Any update? Feel free to reach out to me if you need any help.

[2020-10-14 08:31] #116 closed

[2020-10-14 18:35] bislara commented on #1
Cool. Do let me know if you need any help

[2020-10-14 19:49] Rahul30032 commented on #55
Hey, I have completed the scripts. But  doing changes to align pull request with the code of conduct.
I have separate scripts for each functionalities.
Do I need to give demo examples or just submitting the script would do?

[2020-10-14 19:54] bislara commented on #55
@Rahul30032  Great.
Yes you need to add screenshots of your output.
Put a readme inside your project folder and in the readme itself you can add the output image.
In readme, do give a description of the project and the steps to set up and run the code.

[2020-10-14 20:08] Rahul30032 commented on #55
oh surely will do so!!
Will make the changes and add demo outputs and relevant pdf files.
Will create a readme file describing the project and the set up procedure if any.
Will create a pull request post the changes.

[2020-10-15 05:20] maxily1 commented on #153
Could you assign me?

[2020-10-15 05:25] maxily1 commented on #117
Hey, Could you assign me?

[2020-10-15 09:26] bislara commented on #153
Hey @maxily1  Its already been assigned. If he/she doesn't complete this, then I can assign you.

Also, you can create new issues if you want to work on something.

[2020-10-15 09:27] bislara commented on #117
Hey @maxily1  Its already been assigned. If he/she doesn't complete this, then I can assign you.

Also, you can create new issues if you want to work on something.

[2020-10-15 19:36] bislara opened #155 "URGENT: Folder restructure 📢🛠"
## Description
Create 2 folders. One for python and another javascript.
Put all the python projects inside the python folder and same for js
Inside each language folder put a readme file having a table with the project name, description and author as columns in the table.
All the projects of that language must be listed in the table.

[2020-10-15 20:17] TestPrab commented on #155
Hello I am interested can I do this?

[2020-10-15 20:22] bislara commented on #155
Sure go ahead. Try to complete asap so that others can follow that style. 👍

[2020-10-15 21:06] TestPrab commented on #155
I just changed the folder structure ...can you please look into it? then I will go ahead and make the readme file too
https://github.com/TestPrab/code-n-stitch/tree/155-folder-restructure
here is the link

[2020-10-16 05:06] maxily1 opened #157 "Encryption Tool"
## Description
A python tool with which you can encrypt plain text into some famous algorithms and cipher such as: Morse, Base64, Hex, Caesar Cipher and etc.

## Technologies and Languages
List of all the technologies and languages which you think are required for solving this issue:
* Python
* Base64 Module
* binascii Module

## Notes
I've made already this project and thought about contributing

[2020-10-16 05:30] #155 closed

[2020-10-16 05:39] bislara commented on #157
Great. Wonderful. Looking forward to your PR.
Well, you can try having the decryption as well. Try it out. To let me know if you face any issue.

[2020-10-16 05:40] bislara commented on #157
There is a folder restructure going on. Once its over, you can start working on this.

[2020-10-16 06:12] maxily1 commented on #157
Alright! I'll try implement it ASAP.

[2020-10-16 11:52] #153 closed

[2020-10-16 12:01] #152 closed

[2020-10-16 12:02] bislara commented on #114
Any update? Feel free to reach out to me if you need any help.

[2020-10-17 05:43] volt9801 opened #163 "Image to ASCII converter"
## Description
I want to add a python3 script which takes in path to an image as parameter and returns the ascii version of the image

## Technologies and Languages
Language: python3
Libraries: PIL

## Notes
I've already made the project, I think it will be a nice addition to this repo.

[2020-10-17 07:05] bislara commented on #163
Sure. Go ahead. Looking forward to your PR

[2020-10-17 12:29] bislara opened #165 "Scrap Insta Profile"
## Description
Script to scrap a profile from Instagram and get their images,  captions as well.

## Technologies and Languages

- python
- javascript

Any other language and technology is always welcomed

## Aditional Work
Make a GUI for this application

[2020-10-17 12:38] bislara opened #166 "Scrap Insta post from hashtag"
## Description
Scrap the trending Instagram posts of a particular hashtag. It must scrap the image links as well as the captions. Also better if you show the count of likes, comments, etc

## Technologies and Languages

- Python
- Javascript

Any other language and technology is welcomed

## Aditional Work
Make a GUI for this

[2020-10-17 12:49] bislara opened #167 "Scrap Insta Non followers"
## Description
Scrap the details of the users who are not following you but are followed by you

## Technologies and Languages

- python
- javascript

Any other language and technology is welcomed

## Aditional Work
Make a GUI for this

[2020-10-17 12:56] bislara opened #168 "Related Hashtags"
## Description
Scrap and get the popular hashtags related to a particular topic

## Technologies and Languages

- Python
- javascript

Any other language and technology is welcomed

## Aditional Work
Make a GUI for this

[2020-10-17 13:06] bislara opened #169 "Popular Post by Location"
## Description
Scrap the details of the popular Instagram posts of a particular location (given as input by the user).

## Technologies and Languages

- Python
- javascript

Any other language and technology is welcomed

## Aditional Work
Make a GUI for this

[2020-10-17 13:15] bislara opened #170 "Download media from Insta"
## Description
Download all the trending and popular posts and their media for a particular hashtag.

## Technologies and Languages
- Python
- javascript

Any other language and technology is welcome

## Aditional Work
Make a GUI for this

[2020-10-17 13:38] #163 closed

[2020-10-17 15:22] bislara opened #172 "JS Animations"
## Description
Add the code for different types of animations.
Make a simple page showing the animation
IMP - Do comment in the issue which type of animation u want to show.

## Technologies and Languages
- Javascript

Any other language and technology is welcomed

[2020-10-17 15:26] bislara opened #173 "Count down Timer"
## Description
Design a single page site showing a count down timer for any event.

## Technologies and Languages
- Javascript
- HTML, CSS
Any other language and technology is welcomed

[2020-10-17 15:28] im-adithya commented on #173
Can you please assign this to me 😄

[2020-10-17 15:29] bislara commented on #173
Sure. Go ahead ✌

[2020-10-17 15:29] RimorRes commented on #173
Wow that was quick!

[2020-10-17 15:30] im-adithya commented on #173
Thank You So Much!

[2020-10-17 17:01] ashvinimore commented on #165
Hello ,
Can I give it a try?
Can you please assign this task to me?

[2020-10-17 17:20] bislara commented on #165
Sure 👍🤟

[2020-10-17 20:39] im-adithya commented on #173
@bislara https://im-adithya.github.io/Countdown-Timer/
Is this okay?
Also, can you please tell me in which folder I should commit?

[2020-10-18 04:40] bislara commented on #173
Put it inside the web hacks folder. Make a new folder inside it and then put ur files.
one more thing, the count down looks good. But one doubt I had. When I set the time. it is not showing the countdown from my current time.
Also, when the countdown is going on and again i press on start, Its showing both countdown and reset also not working properly in that case.
Please look into these

[2020-10-18 07:06] im-adithya commented on #173
Thanks for pointing out! I have made the changes and uploaded to the folder. PR has been generated. Thanks again!

[2020-10-18 13:24] #157 closed

[2020-10-18 13:27] #173 closed

[2020-10-18 15:20] bislara opened #178 "Attractive Preloader"
## Description
Code for an attractive and unique preloader for a site

## Technologies and Languages

- Javascript, HTML, CSS

[2020-10-18 15:23] bislara opened #179 "Card Slider"
## Description
Make an attractive and unique card slider for a site.

## Technologies and Languages

- Javascript, HTML, CSS

[2020-10-18 15:27] bislara opened #180 "Event Timeline"
## Description
Make an attractive timeline for an event, project, etc

## Technologies and Languages

- HTML, CSS, Javascript

[2020-10-19 05:00] Riken-Shah commented on #170
Should I make the new folder in the python directory?

[2020-10-19 05:09] bislara commented on #170
Sure. Go ahead 👍👍

[2020-10-19 05:53] bislara opened #181 "Clock Design"
## Description
Design an attractive clock in a single page site, showing the current time.

## Technologies and Languages

- HTML, CSS, Javascript

Any other language and technology is also welcomed.

[2020-10-19 05:56] bislara opened #182 "Clock Application"
## Description
Make an application for clock having features like:-

- [ ] Show the current time
- [ ] Stop watch
- [ ] Timer

It's better if you can make a simple GUI for this

## Technologies and Languages

- Python
- Javascript

Any other language and technology is also welcomed.

[2020-10-19 06:08] bislara opened #183 "English Dictionary"
## Description
Make an application for dictionary feature which will fetch the meaning of a word.

You can make a GUI for this or make it CLI based.

## Technologies and Languages

- Python
- javascript

Any other language and technology is welcomed.

[2020-10-19 06:19] gill876 commented on #183
Hey there. Do I have to use an API? Or could I use csv files?

If I can use csv, I'm thinking of downloading from this resource:
https://www.bragitoff.com/2016/03/english-dictionary-in-csv-format/

[2020-10-19 06:32] gill876 commented on #182
Hello there. Can I use Tkinter?

[2020-10-19 06:46] bislara commented on #182
Sure Go ahead 👍

[2020-10-19 06:48] bislara commented on #183
Yes, u can use the csv file. No problem with that. If possible add this as well. If the word is not found in the csv. Make an API call and get the meaning.

[2020-10-19 07:55] ritviksharma3 commented on #179
Hey ! Please assign me this, I'm planning to make a 3D card slider. Also, if you have anything in mind, do let me know.

[2020-10-19 08:08] bislara commented on #179
3D one..great..go ahead with it.

[2020-10-19 08:16] sarita1124 commented on #181
Hi, can i work on this issue?

[2020-10-19 08:23] bislara commented on #181
Sure go ahead.

[2020-10-19 13:55] senguyen1011 commented on #180
I can work on this. Could you assign this to me?

[2020-10-19 14:04] bislara commented on #180
Sure go ahead.

[2020-10-19 14:49] bislara opened #187 "Text Summarizer"
## Description
Make an application for text summarizer that takes input as a paragraph and returns the summary of the text.

It would be great if you can make a simple GUI for this.

## Technologies and Languages

- Python
- Natural Language Processing

you are free to use any other language and technology as well.

[2020-10-19 15:53] Riken-Shah commented on #169
Hey! Can I give it a try?
Can you please assign this task to me?

[2020-10-19 15:53] Riken-Shah commented on #167
Hey! Can I give it a try?
Can you please assign this task to me?

[2020-10-19 16:13] bislara commented on #169
Sure. Go ahead

[2020-10-19 16:13] bislara commented on #167
Sure.

[2020-10-19 16:38] Riken-Shah commented on #169
Should I scrape the post link or download the image?

[2020-10-19 17:02] #181 closed

[2020-10-19 17:06] bislara commented on #169
Well, you can try to keep the option for both.

[2020-10-19 17:08] #170 closed

[2020-10-19 18:23] ritviksharma3 commented on #179
@bislara I've added the Card Slider Feature. Please Review #190
Also, if you want any changes to be made, please ping me here itself.
Happy Hacktober !

[2020-10-19 22:32] gudeliauskaspam commented on #1
I will make a separate configuration file so that each user can generate their key when using the application, and there will also be a readme explaining how to do it

[2020-10-20 00:45] gudeliauskaspam commented on #1
I'm almost done working on it, I'm just waiting for the answer to an issue I found from a package I'm using in the application to proceed.

[2020-10-20 03:38] #183 closed

[2020-10-20 03:50] bislara commented on #1
Okay cool.

[2020-10-20 03:51] bislara commented on #4
@SK-siba  Any progress?

[2020-10-20 03:52] bislara commented on #5
@iriyagupta  Any progress?

[2020-10-20 03:52] bislara commented on #7
@yash-agarwal17  Any progress?

[2020-10-20 03:53] bislara commented on #28
@UbadahJ  Any progress?

[2020-10-20 03:54] bislara commented on #53
@Samikdevel  Any progress?

[2020-10-20 03:55] bislara commented on #74
@Keerthana-Thiagaraj   Any progress?

[2020-10-20 03:55] bislara commented on #83
@Krishna-Sivakumar  Any progress?

[2020-10-20 03:56] bislara commented on #114
@jp2373   Any progress?

[2020-10-20 03:56] bislara commented on #117
@GSantos23   Any progress?

[2020-10-20 03:57] bislara commented on #119
@PratikshaPP  Any progress?

[2020-10-20 03:59] bislara commented on #132
@gs202   Any progress?

[2020-10-20 04:14] GSantos23 commented on #117
Hi @bislara , you can assign this to @maxily1 . I am not working on this.

[2020-10-20 04:35] bislara commented on #117
Okay. @maxily1  Would you like to take this now?

[2020-10-20 05:17] bislara opened #193 "Weather App"
## Description
Make a simple page that shows the weather of a city. Take the city as input from the user.

## Technologies and Languages

- HTML, CSS, JS

Feel free to use any other language and technology

[2020-10-20 05:25] bislara opened #194 "Mini Paint"
## Description
Make a webpage having the paint application with features like selecting a colour, brush size, eraser, clearing the board completely, download the drawn image in PNG or JPG format

## Technologies and Languages

- HTML, CSS , JS

Feel free to use any other language and technology

[2020-10-20 05:32] bislara opened #195 "Drum Application"
## Description
Make a webpage having the drum ie on clicking of different keys, different sounds will be coming.

## Technologies and Languages

- HTML, CSS, JS

Feel free to use any other language and technology

[2020-10-20 06:20] #167 closed

[2020-10-20 06:26] Riken-Shah commented on #165
Hey, Can I also try?

[2020-10-20 06:58] maxily1 commented on #117
Ugh, Sure, I think so. :D

[2020-10-20 08:40] UbadahJ commented on #28
Sorry for the late reply, but there is already a pull request there isn't it? #31

[2020-10-20 08:57] bislara commented on #28
Yeah sorry it was closed so.. Well can you please put the folder inside the python folder?

[2020-10-20 09:27] #169 closed

[2020-10-20 10:35] larymak opened #198 "Geo-IP Tracker"
## Description
A python script that will be able to track location. city, time zone, continent and postal of a given IP Address

## Technologies and Languages
Python

[2020-10-20 10:43] Samikdevel commented on #53
Yes, Sorry for not replying.
I had some tests going on and my pc got corrupted so I have to start again.
But hopefully I will do it in 3-4 days.

[2020-10-20 11:23] bislara commented on #198
Great..Go ahead..Waiting for your PR

[2020-10-20 11:24] bislara commented on #53
Okay cool no problem

[2020-10-20 12:57] prinsusinghal commented on #193
@bislara I want to work on it. I will be using python. Assign this to me.

[2020-10-20 13:01] Anustup900 commented on #187
Hello can you please assign it to me @bislara

[2020-10-20 13:02] bislara commented on #193
Okay cool. Go ahead. Put it in web hacks folder as we are making a webpage

[2020-10-20 13:03] prinsusinghal commented on #193
Sure

[2020-10-20 13:04] bislara commented on #187
Sure. Go ahead

[2020-10-20 13:56] ritviksharma3 commented on #179
@bislara I have added the text as well. Please Review PR#190 for issue #179 again.

[2020-10-20 14:05] Neha-Gama commented on #194
I would like to work on this issue could you please assign it to me .

[2020-10-20 14:16] nishan7 opened #200 "A python script to generate summary for Wikipedia articles using Wikipedia API"
## Description
A python script to generate a summary for Wikipedia articles using Wikipedia REST  @API

## Technologies and Languages
Python

[2020-10-20 14:43] bislara commented on #194
Sure Go ahead. Put the project folder inside the web Hacks folder.

[2020-10-20 14:48] bislara commented on #200
Hey @nishan7  Do u want to make something like [this](https://github.com/bislara/code-n-stitch/tree/master/Python/wikipedia_searcher) or anything different?

[2020-10-20 15:48] Neha-Gama commented on #194
Sure

[2020-10-20 16:07] nishan7 commented on #200
Yes, but using API

[2020-10-20 16:50] shankha001 commented on #195
can i take this up ?

[2020-10-20 17:01] bislara commented on #195
Sure Go ahead

[2020-10-20 17:03] bislara commented on #200
Okay, Do one thing. Make a folder inside this Wikipedia_searcher folder and name the folder as "Searcher _using_API" and put your files inside it..Don't forget to add a readme file

[2020-10-20 17:34] Krishna-Sivakumar commented on #83
yeah, I've figured out a part of it. The PR will be up pretty soon

[2020-10-20 18:11] bislara commented on #83
Okay cool. Waiting for your PR

[2020-10-20 18:22] Riken-Shah commented on #168
Hey! Can you please assign this to me?

[2020-10-20 19:21] prinsusinghal commented on #193
@bislara review my PR: #201

[2020-10-20 19:34] bislara commented on #168
sure. go ahead

[2020-10-21 00:16] gudeliauskaspam commented on #1
Finally open!

[2020-10-21 04:56] bislara commented on #4
@SK-siba  has been unassigned from the issue due to the absence of response since the last 24 hours, making this issue up for grabs for anyone interested in it.

[2020-10-21 04:59] bislara commented on #5
@iriyagupta  has been unassigned from the issue due to the absence of response since the last 24 hours, making this issue up for grabs for anyone interested in it.

[2020-10-21 05:00] bislara commented on #5
@Arpita-25  Would you like to take this now?

[2020-10-21 05:00] bislara commented on #7
@yash-agarwal17  has been unassigned from the issue due to the absence of response since the last 24 hours, making this issue up for grabs for anyone interested in it.

[2020-10-21 05:07] bislara commented on #74
@Keerthana-Thiagaraj  has been unassigned from the issue due to the absence of response since the last 24 hours, making this issue up for grabs for anyone interested in it.

[2020-10-21 05:08] bislara commented on #114
@jp2373 has been unassigned from the issue due to the absence of response since the last 24 hours, making this issue up for grabs for anyone interested in it.

[2020-10-21 05:19] Arpita-25 commented on #5
Yes I would like to work on it...GUI part is completed... working on the
back end operation

On Wed, Oct 21, 2020, 10:30 Biswajeet Sahoo <notifications@github.com>
wrote:

[2020-10-21 05:25] #179 closed

[2020-10-21 05:33] #180 closed

[2020-10-21 05:37] #193 closed

[2020-10-21 05:38] Arpita-25 commented on #5
@bislara yes i would take it

[2020-10-21 05:50] bislara commented on #5
Okay cool 👍🤟

[2020-10-21 06:00] #168 closed

[2020-10-21 19:43] bislara opened #209 "Chain Reaction Game"
## Description
Write codes for Chain Reaction Game

## Technologies and Languages
- Python

Feel free to use any other language and technology

[2020-10-21 19:46] bislara opened #210 "Angry Birds Game"
## Description
Write codes for Angry Bird Game

## Technologies and Languages

- Python

Feel free to use any other language and technology

[2020-10-22 04:52] #1 closed

[2020-10-22 04:58] gs202 commented on #132
@bislara sorry, I didn't have much time working on that.
I'll try to start working on in next week, but feel free to reassign it if there are takers

[2020-10-22 05:02] bislara commented on #132
Okay, I am unassigning u, but still, try to complete this by next week. I would like to see your PR.

[2020-10-22 10:07] bislara commented on #166
@Riken-Shah  Would you like to take this as well?

[2020-10-22 15:34] Riken-Shah commented on #166
Sure, But It might take some time I am a little busy with exams and submission.

[2020-10-22 15:38] bislara commented on #166
Okay, no problem. Take your time.

[2020-10-23 10:29] Samikdevel commented on #53
Done

[2020-10-23 12:45] nishan7 opened #213 "Scraping reddit"
## Description
Scraping Reddit to get some or all the post. It uses unofficial Reddit API as new Reddit API can't be used to scrape all data from the start.

## Technologies and Languages
Python

[2020-10-23 12:50] bislara commented on #213
Go ahead 👍

[2020-10-23 13:38] #53 closed

[2020-10-24 14:12] Riken-Shah commented on #166
Should I add the features to this [file](https://github.com/bislara/code-n-stitch/tree/master/Python/insta-tag-media-downloader)?

[2020-10-24 14:25] bislara commented on #166
Sure you can. Just change the name of folder then. Keep it insta_post_from_hashtag

[2020-10-24 16:13] Riken-Shah commented on #166
I have pushed the change but one check is falling. What should I do?

[2020-10-25 05:40] m4dummies commented on #172
Hi @bislara can it be any type of animation. And is there supposed to be one or mulitiple ?

[2020-10-25 06:33] bislara commented on #172
Hey @m4dummies
It can be any animation. Create a folder inside the web hacks folder and name it as Animations. Inside it create another folder with your animation name. and put your required files inside it.

[2020-10-25 06:34] m4dummies commented on #172
HI @bislara can you assign this to me.

[2020-10-25 06:38] #166 closed

[2020-10-25 06:41] #213 closed

[2020-10-25 06:48] bislara commented on #172
Sure. Go ahead

[2020-10-25 06:50] #33 closed

[2020-10-25 15:31] bislara commented on #172
@m4dummies  would you like to add more animations?

[2020-10-25 15:33] m4dummies commented on #172
Sure i could do that...Also thanks for adding me to the contributors list. Could u just change the link location it is not leading to my git profile.
Thanks .

[2020-10-25 15:42] bislara commented on #172
I am really sorry. The link was generated by all contributors bot. I don't know y it got incorrect link. I will change it now. Regarding the profile pic, I couldn't get you actually. What's the issue with that?

[2020-10-25 15:44] m4dummies commented on #172
I actually changed my profile pic an hour ago but sometimes it takes time to show up and it didnt get updated on the contributors list.

[2020-10-25 15:47] m4dummies commented on #172
Thanks @bislara , Its perfect now. :)

[2020-10-25 15:48] bislara commented on #172
Anytime 🤟🙌

[2020-10-25 19:15] arnav-deep opened #218 "Pinging Script with a mailer."
## Description
A script that will continuously ping a server to see if the server is live or not and email the users of it is not live.

## Technologies and Languages
Python.

[2020-10-25 19:16] arnav-deep commented on #218
@mdegis I have a script ready for this. If you need more details as to what the script does. Do ask. Otherwise assign or choose the issue.

[2020-10-25 19:29] bislara commented on #218
Hi @arnav-deep, I guess u tagged the wrong person. Never mind.
And yes, this project seems interesting. Go ahead with it. Waiting for your PR

[2020-10-26 00:17] arnav-deep commented on #218
Hi @bislara
Sorry about tagging the wrong person. Not sure how that happened.
Linked a PR. Get back at me for any queries.

[2020-10-26 05:12] m4dummies commented on #172
Hi @bislara  can you assign this to me again. I have another animation ready.

[2020-10-26 05:14] bislara commented on #172
sure go ahead

[2020-10-26 08:09] m4dummies commented on #132
Hi @bislara how should this work, should it give only the html file in the output or should it give all the files that were used in the website?

[2020-10-26 08:18] bislara commented on #132
all the files. associated with that page

[2020-10-26 08:19] m4dummies commented on #132
right i have a script for that but it wont run like usual pages.

[2020-10-26 08:20] bislara commented on #132
Ok give it a try. Let's see what it can do

[2020-10-26 08:20] m4dummies commented on #132
All right ill give it a go.

[2020-10-26 18:27] #218 closed

[2020-10-26 19:52] bislara opened #224 "Collapsible Side bar"
## Description
Make a collapsible sidebar in a website. The sidebar can have different menu options and sub-options.

## Technologies and Languages
- HTML, CSS, JS
- React (preferred)

[2020-10-26 20:18] bislara opened #225 "Medium Article Scraper"
## Description
Given the link of a medium article, Scrap the complete medium article (and store it in an HTML file if possible ) so that one can see the contents of the article as it is in the medium website, even if one user is not a paid member of Medium and have used the minimum free views.

## Technologies and Languages
Feel free to use any language and technology

[2020-10-27 03:44] thePlebDev commented on #224
if this is still open I can work on this.

[2020-10-27 03:55] m4dummies commented on #225
Hey @bislara , so i have made s similar project and i can get the exact article and save it as a pdf.

[2020-10-27 05:38] bislara commented on #225
Oh, that's great. Go ahead with that. If possible try to scrap the whole HTML as well.

[2020-10-27 05:39] bislara commented on #224
Sure go ahead

[2020-10-27 05:42] m4dummies commented on #225
The script will save the whole project as a pdf not a html file. It gets all the written content and not the images. ill make a pr so you get an idea of how it works.

[2020-10-27 06:05] m4dummies commented on #225
I made a pr you can check it out @bislara

[2020-10-27 06:06] m4dummies commented on #132
Hi @bislara I made a pr for this too you check it out and let me know if this is what you were looking for.

[2020-10-27 06:23] bislara commented on #132
Hey, good job. Give me some time, I will review it.

[2020-10-27 06:42] m4dummies opened #228 "Pdf to html convertor"
## Description
The script will convert a html page or an article to pdf.

## Languages
Language: Python

[2020-10-27 06:42] m4dummies commented on #228
Hi @bislara  can u assign this to me?

[2020-10-27 07:07] bislara commented on #228
Go ahead. Waiting for your PR

[2020-10-27 07:19] m4dummies commented on #228
Done

[2020-10-27 13:29] jatin-rathee commented on #224
@bislara Can you assign this to me. I am planning to add a card flip animation

[2020-10-27 13:31] jatin-rathee commented on #172
Hi @bislara Can you assign this to me? I am planning to add a card flip on hover animation

[2020-10-27 14:03] bislara commented on #172
Okay cool. Go ahead

[2020-10-27 14:15] jatin-rathee commented on #172
PR #230 added. @bislara Please review

[2020-10-27 17:33] jatin-rathee commented on #195
@bislara Can I work on this one?

[2020-10-27 17:34] jatin-rathee commented on #178
@bislara Can I work on this one too?

[2020-10-27 18:04] bislara commented on #178
Sure go ahad

[2020-10-27 18:04] bislara commented on #195
sure go ahead

[2020-10-28 00:26] thePlebDev commented on #224
thanks!! do you have any design for it? or is it just up to me ?

[2020-10-28 06:31] bislara commented on #224
Put it in web hacks folder.
And there is no specific design but yes have some content in the middle and a navbar maybe and the sidebar.
Rest designing is up to u

[2020-10-28 06:33] #132 closed

[2020-10-30 05:04] jatin-rathee commented on #178
@bislara added this in #232 Please review

[2020-10-30 10:41] #228 closed

[2020-10-31 09:45] Samikdevel opened #234 "QRCODE Scanner doesn't delete previous results."
## Description
I found this bug in the qrcode scanner that didn't delete the previous result after scanning.

@bislara I have fixed this so can I create a pull request

[2020-11-01 22:30] thePlebDev commented on #224
with installing react. I see here, https://github.com/bislara/code-n-stitch/tree/master/Web%20Hacks/timeline . React was installed for the separate project. Is this how you want me to do it? If I do this you will have multiple versions of React on your project, this will work but seems redundant to me. Should React not be installed at a predefined root and then have all the future react projects f

[2020-11-02 06:19] bislara commented on #224
You need to make a new folder insider web hacks and add your files there. Did u do this or put it directly inside web hacks? If not directly, then I guess this error won't come. Let me know, if still error comes I will delete those previous react config files.

[2020-11-02 16:42] #234 closed

[2020-11-02 16:43] #200 closed

[2020-11-02 16:44] bislara commented on #55
Hey @Rahul30032  any update?

[2020-11-02 16:47] bislara commented on #119
@PratikshaPP  has been unassigned from the issue due to the absence of response since the last 14 days, making this issue up for grabs for anyone interested in it.

[2020-11-02 16:47] bislara commented on #119
@amannv2  would you like to take this?

[2020-11-02 16:48] bislara commented on #165
Hey @ashvinimore  any update?

[2020-11-02 16:50] bislara commented on #182
Hey @gill876  any update? Do let me know if you need any help

[2020-11-02 16:50] bislara commented on #187
Hey @Anustup900   any update? Do let me know if you need any help

[2020-11-02 16:51] bislara commented on #194
Hey @Neha-Gama   any update? Do let me know if you need any help

[2020-11-02 16:51] bislara commented on #198
Hey @larymak   any update? Do let me know if you need any help

[2020-11-02 16:57] gill876 commented on #182
OMG I had midsemesters and I really wanted to work on it but didn't get to... And I missed Hacktober Fest... I don't mind working on it still if it's available

[2020-11-02 17:00] bislara commented on #182
Yes you can work on this now as well.

[2020-11-02 19:36] Rahul30032 commented on #55
I am done with the code working on readme part, will create a pull request by the end of this week.
I apologize for the delay.

[2020-11-02 19:39] bislara commented on #55
Ok coool. No issues. 🤟🙌. Waiting for your PR

[2020-11-03 04:35] amannv2 commented on #119
Yeah, sure

[2020-11-03 04:37] bislara commented on #119
Cool. Go ahead

[2020-11-03 07:31] amannv2 commented on #119
The library I'm using currently has this open issue: https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html

[2020-11-03 08:06] bislara commented on #119
What is the name of the library?

[2020-11-03 08:08] amannv2 commented on #119
[moviepy](https://pypi.org/project/moviepy/)

[2020-11-03 08:13] bislara commented on #119
Try making a virtual environment and install the library there again and
run the code. Or else if you have any virtual OS, u can give a try in that.
Other option maybe try some other way to solve this issue.
If not then u can create a PR with your code ready, I can test it in my
system.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&

[2020-11-03 14:43] Neha-Gama commented on #194
Hello,
Actually I'm struggling a little with the javascript part .thats the reason
its taking a little long. .

On Mon, Nov 2, 2020 at 10:21 PM Biswajeet Sahoo <notifications@github.com>
wrote:

[2020-11-03 14:56] larymak commented on #198
yes, @bislara I have created an update

[2020-11-03 15:05] bislara commented on #194
Okay no problem. Take ur time and try and keep me updated in between.

[2020-11-03 16:18] Neha-Gama commented on #194
Ya sure I will keep you updated.

On Tue, Nov 3, 2020 at 8:35 PM Biswajeet Sahoo <notifications@github.com>
wrote:

[2020-11-09 05:21] Neha-Gama commented on #194
Hello,
My HTML and CSS files are ready but I am not able to add the javascript functionality properly so I need to review my javascript basics so I request you to give me some more time if possible to complete the project.

[2020-11-09 05:31] bislara commented on #194
Okay fine. No issues.

[2020-11-19 13:10] m4dummies commented on #74
hi @bislara can u explain the project and what is supposed to be done ?

[2020-11-19 13:57] bislara commented on #74
you have to take input as an image and encrypt the image so that one can't know what the image is all about and then using reverse algo decrypt the encrypted image to get back the original one.

[2020-11-20 03:02] gill876 commented on #182
I'd really like to work on it but I am so overwhelmed given that it's the end of semester and a lot of projects and exam preparations are to be done. I apologize for the delay. You could unassign the project from me but I still look forward to continue if it is still open when I'm free.

[2020-11-20 04:16] bislara commented on #182
I understand, even I am having sem exams right now. Well, you can do it after your sems are over. It's okay.

[2021-02-24 00:17] luccas13 commented on #182
Hi, can you assign me this task if it's still available?

[2021-02-24 05:52] bislara commented on #182
Ya sure. @luccas13  you can proceed

[2021-02-28 14:37] #182 closed

[2021-03-01 18:15] luccas13 opened #240 "Optimization - Clock_Application.py"
## Description

There are repeating lines of code that can be simplified

Clock_Application.py
lines 51-59 / 69-77 / 87-95

## Technologies and Languages

- Python

## Aditional Work

Add a function that simplifies redundancy.

[2021-03-01 18:19] luccas13 commented on #240
Can you assign me this task?

[2021-03-01 18:26] bislara commented on #240
Go ahead. But the optimization you could have done it directly on the previous PR right? 😅

[2021-03-01 18:43] luccas13 commented on #240
It's true, but I didn't know how to do it and I didn't want to break the code. sorry

[2021-03-01 19:11] bislara commented on #240
Hey hey, no need to apologize for this. Its great to know that you are learning in the process and knowing new stuff. That's quite important for a developer. You can go ahead and create a PR once done 🙌🙌🎉

[2021-03-04 04:21] #240 closed

[2021-10-01 10:35] namanshah01 commented on #74
Hey can I take up this issue? I plan to convert image to a string and encrypt it with a basic cipher with a key. Only with that key, will the string be decrypted and converted to image again

[2021-10-01 10:41] bislara commented on #74
No, that's fine. @namanshah01 , Go ahead. Waiting to see some awesome work. 🎉

[2021-10-01 11:04] namanshah01 commented on #74
Sure :+1:

[2021-10-01 15:00] itsneelpatel commented on #224
@bislara Is this still open ?

[2021-10-01 16:46] bislara commented on #224
@itsneelpatel yes you can go ahead. Yes, this comes under hacktoberfest. The repo is having the hacktoberfest label.

 @thePlebDev Sorry had to unassign you due to inactivity of the assigned issue.

[2021-10-01 16:48] itsneelpatel commented on #224
Alright thanks @bislara .
Just a few questions: do i have to use a framework like react or node? Or would it be fine if i use html,css and js?
Also do you need any specific ui? Or just some content with a working sidebar ?

[2021-10-01 16:53] bislara commented on #224
Its preferred to do in react, but if you are not comfortable in it, then its fine to go ahead with html css js. Try to make the web page responsive. Put some creative ideas.

There is no specific ui to follow. Just try to make it a good looking one. Add menu options and sub menus in the side menu bar.

[2021-10-02 06:19] irsayvid commented on #209
I would like to work on this

[2021-10-02 06:21] bislara commented on #209
@irsayvid Go ahead. Looking forward to see some awesome work. 🚀

[2021-10-02 06:34] bislara commented on #55
@Rahul30032 any updates?

[2021-10-02 06:37] bislara commented on #83
any updates @Krishna-Sivakumar ??

[2021-10-02 06:55] bislara opened #252 "Javascript Calculator"
## Description
Design a webpage having a calculator in it. It should be able to perform basic operations like addition, subtraction, division, multiplication. There should be a display screen to show the results. Below is an example of the UI, feel free to make it according to you.

![image](https://user-images.githubusercontent.com/35392585/135706781-34ac57b1-2ec1-4eea-a97f-92587d5c1cf7.png)

##

[2021-10-02 07:37] UbadahJ commented on #117
@bislara This issue seems simple so just assign this to me

[2021-10-02 07:39] bislara commented on #117
Cool. Go ahead 🎉

[2021-10-02 07:42] #28 closed

[2021-10-02 07:51] bislara opened #254 "Rock Paper Scissors"
## Description
There are 2 options for you

- [ ] Make a js based script taking input from user using prompt

	1. Using the inbuilt prompt() function, ask the user what option they would like to pick - rock, paper or scissors
	2. Get the computer to make a random choice.
	3. Build some logic to identify if the user or the computer won
	4. Use the inbuilt alert() to show what choice the user chose

[2021-10-02 08:30] Krishna-Sivakumar commented on #83
@bislara
you can expect a PR this week.

[2021-10-02 09:48] bislara commented on #83
Okay fine. Looking forward to it

[2021-10-02 09:51] #117 closed

[2021-10-02 18:13] namanshah01 commented on #225
Hey @bislara I have made a project that saves medium articles into a text file. Will such a script be suitable for this particular issue?

[2021-10-02 18:29] namanshah01 opened #257 "Script to delete empty folders in a directory"
## Description
Simple script to delete all the empty folders in a given directory

## Technologies and Languages
Python

## Additional Work
None

## Comments
It will be a simple yet efficient tool to be needed when doing some file cleanup, minimizing all tedious manual work
<br>If you think this project is eligible for the repo, please assign it to me

[2021-10-02 20:38] bislara commented on #257
Good one. Go ahead. Looking forward to see the PR soon 🚀

[2021-10-03 07:00] bislara commented on #225
@namanshah01 Let's keep this issue separate and add your project in another issue. So, please go ahead on creating an issue and further create a PR. Waiting to see some awesome work. 🚀

[2021-10-03 08:01] bislara opened #258 "Repository listed in OSS Port 🔥"
## Description
Good news for all contributors 🌟🎉
code-n-stitch repo is listed in [OSS port](https://www.oss-port.com/bislara/code-n-stitch) site for the month of October.

Along with Hacktobefest swags, you can earn swags from OSS. Go through this below link to know more about the Contributors guidelines and swags list:-
[https://www.oss-port.com/swag/](https://www.oss-port.com/swag/)

[2021-10-03 09:28] #74 closed

[2021-10-03 10:14] namanshah01 opened #260 "Port Scanner using Python"
## Description
Create a port scanner using python

## Technologies and Languages
Python

## Additional Work
None

## Comment
If you think this script can be a valuable addition to the repo, please do assign it to me

[2021-10-03 10:14] namanshah01 commented on #225
@bislara okay, got it, thanks!

[2021-10-03 10:36] namanshah01 opened #261 "Scraping Medium Articles into Text file"
## Description
Scrape a medium article using python, and store it into a .txt file

## Technologies and Languages
Python

## Additional Work
None

## Comments
If you think this script can be a valuable addition to the repo, please do assign it to me

[2021-10-03 10:40] #257 closed

[2021-10-03 10:43] bislara commented on #260
Woohh!! Good going @namanshah01. Go forward with this. Looking forward to see this project. Also, please describe a little more about the project in the readme and PR.

[2021-10-03 10:45] bislara commented on #261
Go ahead 🙌

[2021-10-03 11:29] namanshah01 commented on #260
Thank you. I'll make sure to make them more descriptive!

[2021-10-03 11:45] #261 closed

[2021-10-03 12:05] namanshah01 opened #264 "Medium Articles to Text"
## Description
Python script that scrapes medium articles from a given link and saves it to a text file

## Technologies and Languages
Python

## Aditional Work
None

## Comments
I had to close the pr with the issue due to some problems, I am sorry for the inconvenience, but can you assign it to me again please

[2021-10-03 12:10] #264 closed

[2021-10-03 13:14] shadyskies opened #266 "Folder sorter using Python"
## Description
Python script to organize directory in categories such as Music, Videos, Docs, Packages and Misc.

## Technologies and Languages
Python

## Additional Work
None

## Comment
Could you please assign this to me?

[2021-10-03 13:20] shadyskies opened #267 "Movie subtitle downloader"
## Description
A subtitle downloader from yts-subs to download subtitles of any movies of any language. Users can ctrl + click on displayed URL in order to download the required subtitle.

## Technologies and Languages
Python, Selenium

## Additional Work
None

## Comments
If you find this useful, can you assign this to me?

[2021-10-03 14:57] shadyskies opened #268 "Imgur Album Downloader"
## Description
Users can input a particular Imgur album URL and download it an automated fashion.

## Technologies and Languages
Python, Selenium

## Additional Work
None

## Comments
If you find this useful, can you assign this to me?

[2021-10-03 14:59] shadyskies opened #269 "Dynamic Wallpaper based on bash script"
## Description
Dynamic wallpaper that rotates background on seconds and folder specified.

## Technologies and Languages
Bash

## Additional Work
None

## Comments
Could you assign this to me?

[2021-10-03 16:47] SarveshLimaye commented on #254
Hey ! @bislara would like to work on this issue.  I would go with 2nd option.

[2021-10-03 17:27] itsneelpatel commented on #224
Hi @bislara , where do i add the folder?

[2021-10-03 17:39] bislara commented on #224
Add it to the web hacks folder

[2021-10-03 17:41] bislara commented on #254
Great. Go ahead @SarveshLimaye. Looking forward to see an amazing site. 🔥🚀

[2021-10-03 17:44] itsneelpatel commented on #224
Alright, ill be making a `pr` in about 10 minutes.
Thanks

[2021-10-03 20:50] bislara commented on #269
Sounds Interesting. Would love to see this.
Also, please do provide a better description in the readme of the project for understanding clearly.

[2021-10-03 20:57] bislara commented on #268
Yeah Go ahead. Looking forward to see you PR.

[2021-10-03 21:00] bislara commented on #267
Sure, Go ahead 🚀

[2021-10-03 21:01] bislara commented on #266
Sure. Go ahead 🚀

[2021-10-03 21:06] #260 closed

[2021-10-04 04:51] hemil26 commented on #210
I would like to contribute to this issue and solve it can you please assign it to me??

[2021-10-04 04:55] devesh-2002 commented on #252
Can you please assign me this issue?

[2021-10-04 05:04] hemil26 commented on #210
Can you assign this issue to me? I would like to contribute to this issue and solve it!
Thank you!

[2021-10-04 06:50] bislara commented on #210
Sure, Go ahead

[2021-10-04 06:51] bislara commented on #252
Sure, Go ahead

[2021-10-04 06:55] kavyakunder commented on #195
@hey can I work on this issue? Is it still available?

[2021-10-04 06:56] kavyakunder commented on #195
@bislara can I work on the issue? is this still valid for hacktoberfest 2021?

[2021-10-04 07:05] bislara commented on #195
Yes its valid. Go ahead and start working.

[2021-10-04 13:44] kavyakunder commented on #195
@bislara  Hey, I have added my project of drum kit into the file.  Please do have a look.

[2021-10-04 15:56] bislara commented on #195
Sure. I have reviewed the project. Please add the required improvements

[2021-10-04 20:46] bislara commented on #187
Sure. Just explain too how you are going to solve this.

[2021-10-05 01:42] kavyakunder commented on #195
@bislara I have made required improvements. Please do have a look

[2021-10-05 04:05] itsneelpatel commented on #224
@bislara im unable to make a pr, a few of the files are being rejected when i try to push the commit.

[2021-10-05 08:49] bislara commented on #224
Could you show some Screenshot to explain the error?

[2021-10-05 08:54] #210 closed

[2021-10-05 09:12] #252 closed

[2021-10-05 10:48] kinshukdua commented on #187
@bislara I'll be using the NLTK library and the weighted frequency method for summarization. I'll also explain the approach in the dosctrings.

[2021-10-05 12:40] bislara commented on #187
Cool. Go ahead. Looking forward to see the project

[2021-10-05 15:29] itsneelpatel commented on #224
would it work if i push a compressed file for the project? @bislara

[2021-10-06 08:06] bislara commented on #224
No, this shouldnt be the case. I am not sure what are your issues. Could you elaborate on it please? I guess like others you should be able to push the required files.

[2021-10-06 11:30] itsneelpatel commented on #224
Alright give me some time.

[2021-10-07 05:49] #224 closed

[2021-10-07 06:05] iamneelpatel opened #288 "HTML TO PDF"
## Description
An automation script to convert a html file to markdown script.

## Technologies and Languages
Python

[2021-10-07 06:06] #288 closed, assigned to nobody

[2021-10-07 06:07] iamneelpatel opened #289 "HTML to Markdown"
## Description
An automation script to convert html to markdown.

## Technologies and Languages
Python

[2021-10-07 09:04] maxily1 opened #292 "Password Generator"
## Description
A simple CLI password generator in which you enter the length of the password you'd like to generate (Minimum 6) and it creates a strong random password containing symbols, capital letters, regular letters and numbers. (Hacktoberfest Project).

## Technologies and Languages
Python

## Aditional Work
None as of now.

[2021-10-07 10:23] pragyakhanna11 opened #294 "Minecraft Game"
## Description
The classic minecraft game

## Technologies and Languages
python

[2021-10-07 10:27] Kashika18 opened #295 "Turtle Race Game"
## Description
A two player turtle race game using turtle library.

## Technologies and Languages
- python
- turtle library
- random library

Please assign this under hacktoberfest to me.

[2021-10-08 09:37] bislara commented on #292
sure go ahead

[2021-10-08 12:43] dishantvyas15 opened #300 "CSV to EXCEL Converter"
## Description
I would like to contribute a pyscript that converts CSV (.csv) files to EXCEL (.xlsx) format.

## Technologies and Languages
Python and Pandas library

## Aditional Note
This would serve as a utility! Requesting assignment under `hacktoberfest` label :)

[2021-10-08 19:27] TechBoyy6 opened #301 "CSV to JSON conversion script."
## Description
A script that converts a file from CSV to JSON.

## Languages
Python

## Additional Work
Please Add Hacktoberfest label.

[2021-10-09 11:38] #289 closed, assigned to iamneelpatel

[2021-10-09 11:47] bislara commented on #301
@benardcharumbira I believe @TechBoyy6 wanted to do this by himself. so he created this issue.
You can go through other issues present.

[2021-10-09 13:27] saisumanthkumar opened #304 "Whatsapp message automation"
## Description
We can send thousand's of messages in whatsapp using Selenium package.

## Technologies and Languages
- python
- selenium

## Aditional Work
Please Add Hacktoberfest label.

[2021-10-09 13:28] saisumanthkumar commented on #304
@bislara I would like to add this ,please assign me

[2021-10-09 20:02] #301 closed, assigned to TechBoyy6

[2021-10-09 20:15] FireHead90544 commented on #4
Shall I work on it? Might need 2-3 days or so :)

[2021-10-10 15:54] FireHead90544 commented on #292
Oh okay, good luck :D

[2021-10-11 03:25] prokan468 commented on #304
@saisumanthkumar I am watching this Repository. Please add an issue asap so that I  can work on it.

[2021-10-11 03:32] prokan468 opened #307 "Microsoft Teams Automator"
## Description
This is a solution for all those who are missing their classes. A bot that just needs a running PC and you are good to go. The bot joins your classes in the specified time that you have provided.

## Technologies and Languages
-Python
-Selenium
-YAML

## Aditional Work
Update the YAML file by:-
1. Adding your username and password
2. Adding the start time and the end time of every c

[2021-10-11 03:34] prokan468 commented on #307
@bislara Please do guide me as to how can I upload the file.

[2021-10-11 07:43] #300 closed

[2021-10-11 18:37] FireHead90544 commented on #4
Sure, Great Thanks :)

[2021-10-13 04:42] dishantvyas15 opened #315 "Virus using turtle lib"
## Description
You just came across a misnomer! I'd like to contribute a pyscript that uses `turtle` library functions to carry out a visual simulation of a biological virus.

## Technologies and Languages
Python and Turtle library

## Aditional Note
As the world is slowly surpassing the pandemic state, we're all together in these times 🤜🤛<br>
Requesting assignment under `hacktoberfest` label.

[2021-10-13 05:22] pratham-bhatnagar commented on #315
Hey @dishantvyas15, Can you assign me this issue.

[2021-10-13 05:54] dishantvyas15 commented on #315
Hi @pratham-bhatnagar, I've actually requested the maintainer to assign this issue to me. Feel free to either pick some open issue or create a new one to contribute.

[2021-10-13 08:11] bislara commented on #315
This issue sounds interesting. Go for it @dishantvyas15

[2021-10-14 04:45] kinkusuma opened #318 "Covid stats in javascript"
## Description
Hi i want to make a code to show covid stats in a country. This code will need a country code as an input and will return covid stats in the country.

## Technologies and Languages
covid api & javascript

## Aditional Work

[2021-10-14 04:45] kinkusuma commented on #318
Hi can i assigned for this

[2021-10-14 18:05] #304 closed

[2021-10-15 06:32] saisumanthkumar opened #320 "Github profile scraping"
## Description
scrap github profile

## Technologies and Languages
python
selenium - tool

## Aditional Work
Hacktoberfest

[2021-10-16 11:09] #295 closed

[2021-10-16 11:16] #315 closed

[2021-10-16 16:02] bislara commented on #114
Sure. Go for it @bridyash13

[2021-10-17 06:13] Ian-Yy commented on #7
Hi @bislara, I've created a PR for the dinosaur game. Please review and let me know if any changes are required. Thanks

[2021-10-18 10:53] #320 closed

[2021-10-20 15:01] #7 closed

[2021-10-21 20:09] dishantvyas15 opened #328 "speech-to-text"
## Description
I'd like to contribute a pyscript that converts speech to text.

## Technologies and Languages
Python, speech recognition and conversion libraries (I'm yet to figure out exactly which ones yo use)

## Aditional Note
This would serve as a utility! Requesting assignment under `hacktoberfest` label :)

[2021-10-22 10:43] atom19-i opened #329 "Mapable - Web application"
## Description
An application where a person can find real time traffic details over the best route between source point and destination point via cycling, walking or driving

 ## Technologies and Languages
1. Html, css and JavaScript
2. Mapbox API

## Aditional Work

[2021-10-22 13:14] atom19-i opened #332 "Lorem Ipsum Generator"
## Description
a lorem ipsum generator, built using html-js. one can also give count for paragraphs to be generated

## Technologies and Languages
HTML , CSS and JavaScript

[2021-10-26 14:27] bridyash13 opened #334 "2048 game using stack"
## Description
A normal 2048 game but using stack.

## Technologies and Languages
Python, Tkinter

[2021-10-28 08:59] namanshah01 opened #336 "Wikipedia Search Wordcloud"
## Description
A wordcloud thats generated based on words and text in a wikipedia search

## Technologies and Languages
Python

## Aditional Work
None

## Comment
If you think this is a useful addition to the repo, please assign the issue to me

[2021-10-28 09:01] namanshah01 opened #337 "FTP Client"
## Description
FTP client as a service through a menu driven program in CLI by python

## Technologies and Languages
Python

## Aditional Work
None

## Comment
If you think this is a useful addition to the repo, please assign the issue to me

[2021-10-28 09:03] namanshah01 opened #338 "Subdomain Finder"
## Description
Script to find subdomains of a website by trying to connect to 1k - 10k most common subdomains

## Technologies and Languages
Python

## Aditional Work
None

## Comment
If you think this is a useful addition to the repo, please assign the issue to me

[2021-10-28 11:11] #332 closed, assigned to atom19-i

[2021-10-28 11:11] #329 closed, assigned to atom19-i

[2021-10-28 14:17] #334 closed, assigned to bridyash13

[2021-11-29 07:17] #338 closed

[2021-11-29 07:17] #337 closed

[2022-09-30 15:33] iamneelpatel commented on #292
If this repo is still active, I would like to take this on :)

[2022-10-02 10:28] bislara opened #341 "Generate PDF from the HTML Page"
## Description
Write code using web technologies to generate pdf from the HTML page

## Technologies and Languages
- html
- js
- css

[2022-10-02 10:39] #341 closed

[2022-10-13 01:34] ShivamPande18 commented on #292
I would like to work on this if it's still open. @iamneelpatel  @bislara

[2022-10-13 01:35] ShivamPande18 commented on #304
Hey @bislara i would like to work on this

[2022-10-13 01:55] ShivamPande18 opened #347 "Calorie calculator"
## Description
A website/app where you search for food by its name will show its calories. Add all the food intake in a day and add track of it.

## Technologies and Languages
- react.js,
- nutritionX API

[2022-10-13 02:05] ShivamPande18 opened #348 "Codeforce data extractor"
## Description
Get data from code forces, about events, blogs, contents etc

## Technologies and Languages
- Python
- Codeforces API

[2022-10-13 07:26] lara-sahoo commented on #348
Hi @ShivamPande18 , Sure go ahead. Looking forward to see your PR

[2022-10-13 07:28] bislara commented on #347
hi @ShivamPande18 , Sure go ahead.

[2022-10-13 07:29] bislara commented on #348
hi @ShivamPande18 , go ahead. waiting to see your PR

[2022-10-13 07:31] bislara commented on #292
@ShivamPande18 go ahead

[2022-10-13 07:32] bislara commented on #304
@ShivamPande18  go ahead

[2022-10-16 04:00] ShivamPande18 commented on #304
@bislara can I use another library instead of selenium? There is a much easier option to automate WhatsApp than selenium.

[2022-10-16 04:30] bislara commented on #304
@ShivamPande18 sure u are free to use anything

[2022-10-18 18:29] 4N1Z opened #350 "PDF MERGER | Python"
## Description
PDF merger. Add the pdf files to merge in a folder and a combined pdf is generated.

## Technologies and Languages
Python , Python libraries

## Aditional Work
If needed can add a basic webpage

[2022-10-18 19:18] bislara commented on #350
go ahead @4N1Z

[2022-10-21 18:00] SouvikDcoder commented on #83
Hey, @bislara I see no update on this issue from the assigned user. Is it still open? Can I take it up?

[2022-10-22 05:50] bislara commented on #83
Hi @SouvikDcoder, Go ahead and work on it.

[2022-10-22 13:10] 0xYashwanth commented on #304
Hey @bislara, I have a pretty decent knowledge of python. I want to contribute to the Whatsapp message automation project. Could you please assign this to me?
Thanks for reading.

[2022-10-22 13:13] 0xYashwanth commented on #292
Hey @bislara, I have a pretty decent knowledge of python. I want to contribute to the Password Generator project. Could you please assign this to me?
Thanks for reading.

[2022-10-22 14:37] bislara commented on #292
@0xYashwanth It's already assigned to @ShivamPande18  and he has raised a PR as well. Would request you to wait. If he is not able to complete, I will assign it to you.

[2022-10-22 14:37] bislara commented on #304
@0xYashwanth It's already assigned to @ShivamPande18 and he has raised a PR as well. Would request you to wait. If he is not able to complete it, I will assign it to you.